/*!
 * Stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Fill it with style
 * to style up the website so it is useable.
 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Hide submenu, leave this to kmom02 */
.rm-desktop ul {
    display: none;
}

/* Hide responsive/mobile menu, leave this to kmom02 */
.rm-navbar-max {
    display: none;
}

.wrap-all {
    background-color: #9995;
}

.site-logo img {
    width: 0px;

}

.site-logo-text img{
    float: left;
    margin: 0px;
}

.site-logo-text a {
    float: left;
    font-size: 2em;
    text-decoration: none;
    color: black;

}
.my-navbar li {
    list-style-type: none;
    font-size: 1.5em;
}

.my-navbar {
    float: right;
}

.my-navbar li {

        float: left;
        margin-right: 50px;
}

.my-navbar a {
    text-decoration:none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;

}


.region-main {

    display: block;
     margin-left: auto;
     margin-right: auto;
    width: 70%;
    font-size: 1.25em;
}

.article h1 {
    text-align: center;
    margin-bottom: 3%;
}

.region-flash img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-left: 10%;

}
.region-main img {
    float: right;
    width: auto;
}

.region-footer {
    padding-left: 15%;
    width: 100%;
    margin-top: 1%;
    background-color: #00001a;
    color: white;
    font-size: 1.25em;
    height: 12em;
}

main {
    height: 37em;
}

.figure img {
    margin-left: 3%;
    border-radius: 5%;
}
.footer-column {
    border: 1px solid black;
    text-align: center;
    width: 25%;
    margin: 2%;
    float: left;
}

.column {
    height: 7em;
}

.site-footer p {
    width: 100%;
    float: right;
    text-align: center;
    padding-right: 50%;
}

.right12{
    float: left;
    border: 1px solid;

}

.diven {
    margin-top: 165px;
    border: 1px solid;
    padding-top: 15px;
    padding-bottom: 100px;
    padding-right: 50px;
    border-radius: 20px;
}

.diven p {
    border-right: 10px;
}

.right-about {
    float: left;
}
